---
- hosts: localhost
  environment:
    AWS_PROFILE: frontend
    ANSIBLE_HOST_KEY_CHECKING: False
  tasks:

    - name: make sure nothing is already listening on 3000
      wait_for:
        port: 3000
        state: stopped
        delay: 7
    
    - name: install and run the project
      command: screen -S trousers-build -d -m "{{ workspace }}/install.sh"
      args:
        chdir: "{{ workspace }}"
    
    - name: wait for the application to become available
      wait_for:
        port: 3000
        delay: 7
    
    - name: check that localhost is returning 200
      uri:
        url: http://localhost:3000/
