---
- hosts: localhost
  environment:
    AWS_PROFILE: frontend
    ANSIBLE_HOST_KEY_CHECKING: False
  tasks:
    
    - name: install and run the project
      command: screen -S trousers-build -d -m ~/workspace/prbuildstub/install.sh
      args:
        chdir: ~/workspace/prbuildstub
    
    - name: wait for the application to become available
      wait_for:
        port: 3000
        delay: 7
    
    - name: check that localhost is returning 200
      uri:
        url: http://localhost:3000/
