---
- hosts: localhost
  environment:
    AWS_PROFILE: frontend
    ANSIBLE_HOST_KEY_CHECKING: False
  tasks:

    - name: install app
      command: ~/workspace/install.sh
      args:
        chdir: ~/workspace/
    
    - name: run the app
      command: screen -S trousers-build -d -m yarn start
      args:
        chdir: ~/workspace
    
    - name: wait for the application to become available
      wait_for:
        port: 3000
        delay: 7
    
    - name: check that localhost is returning 200
      uri:
        url: http://localhost:3000/
